*{
    font-family: 'Nunito', sans-serif;
}


@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.login_container{
        -webkit-animation:slide-in-bottom .7s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom .7s cubic-bezier(.25,.46,.45,.94) both;

  ion-text{
          padding-top: 5px;
          font-size: 10px;
      }
}
.item-native {
    --ion-background-color: var(--ion-color-light) !important;
        color:var(--ion-color-dark);
}
.form{
    h2{
        font-weight: bold;
    }
    h6{
        font-size: 12px;
    }
    padding: 10px;
    ion-item{
        margin-top: 10px;
      --ion-background-color: var(--ion-color-light);
    }
    ion-input{
        border-bottom: 1px solid var(--ion-color-secondary) !important ;
        color: var(--ion-color-medium);
    }
   
    ion-label{
    font-size: 0.8em;
    }
    p{
        float: left;
        padding-left: 10px;
    }
    span{
        color: var(--ion-color-secondary);
    }      
}
h3{
    font-weight: bold;
    color: var(--ion-color-dark);
}
h4{
    font-size: 2vh;
    color: var(--ion-color-medium2);
}
.last_row{
    padding-left: 1%;
    padding-right: 1%;
  }