<ion-content class="container">
  <ion-row class="custom_toolbar">
    <ion-toolbar color="light_background">
      <span class="header_span" routerLink="/login">
        <i class="fas fa-angle-left fa-fw"></i>
      </span>
    </ion-toolbar>
  </ion-row>
  <div class="image_containerall">
    <img src="assets/icon/setpass.svg" alt="">
  </div>
  <div class="login_container">
    <div class="form ion-text-center">
      <h3>Set New Password?</h3>
      <h4>Enter strong but easy to rememer password. </h4>
      <form #form_login="ngForm">

        <ion-item lines="none">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="text" name="password" ngModel required></ion-input>
          <ion-text color="danger" *ngIf="password"> This field is required</ion-text>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="text" name="password2" ngModel required></ion-input>
          <ion-text color="danger" *ngIf="password2"> This field is required</ion-text>
          <ion-text color="danger" *ngIf="password_match"> Password & Confirm Password must be match.</ion-text>
        </ion-item>

        <ion-row class="last_row">
          <ion-col>
            <ion-button class="mg-5" expand="block" (click)="setpassword(form_login)"> Set Password
            </ion-button>
          </ion-col>
        </ion-row>


      </form>

    </div>

  </div>
  <div id="snackbar"> <span id="snackbar_error"></span></div>

</ion-content>
