* {
  font-family: 'Nunito Sans', sans-serif;
}
.main{
   position: absolute;
   top: 35%;
   transform: translateY(-35%);

}
.image_container {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 1vh;

}

.confirmed {
  padding-bottom: 5%;
  text-align: center;

  h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--ion-color-dark);
  }

  ion-text {
    font-size: 0.8em;
    color: vaR(--ion-color-medium2);
  }

}

.checkmark {
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: var(--ion-color-success);
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px var(--ion-color-success);
  animation: fill 1.8s ease-in-out 1.8s forwards, scale 1.8s ease-in-out 1.8s both;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0 auto;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: var(--ion-color-success);
  fill: var(--ion-color-light);
  animation: stroke 1.8s cubic-bezier(0.65, 0, 0.45, 1) forwards;

}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 1.0s cubic-bezier(0.65, 0, 0.45, 1) 0.5s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}
